.profile{
    margin: 74px 0 70px 0;
    padding: 0;
    width: 100%;
    align-items: center;
    display:flex;
    flex-direction:column ;
}

.welcome-title{
    margin: 0 0 123px 0;
    padding: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

.profile__form{
    margin: 0 0 220px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
    width:410px;
}

.profile__form-input{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
height: 32px;
align-items: center ;
}

.profile__form-text{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    color: #000;
font-family: Inter;
font-size: 11px;
font-style: normal;
font-weight: 500;
line-height: normal;
background: transparent;
}

.profile__form-text_input {
    text-align: end;
}

.profile__form-input_border {
    border-bottom: 1px solid #E8E8E8;
}

.profile__button-container{
    margin: 0;
    display:flex;
    flex-direction: column;
    gap: 13px;
    width:100%;
}

.common-link{
text-align: center;
outline: none;
    border: none;
    background:transparent;
    color: #000;
text-align: center;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal; 
text-decoration: none;
margin: 0;
}

.common-link_red{
    color: #EE3465;
    font-size: 13px;
}

@media screen and (max-width: 768px) {
    .profile{
        margin: 236px 0 269px 0;
    }

    .welcome-title{
        margin: 0 0 85px 0;
    }

    .profile__form-input{  
    height: 41.5px;
    
    }

    .profile__form{
        margin: 0 0 199px 0;
    }
}

@media screen and (max-width: 460px) {
    .profile{
        margin: 70px 0 40px 0;
    }

    .welcome-title{
        margin: 0 0 66px 0;
    }

    .profile__form-input{  
    height: 44px;
    
    }

    .profile__form{
        margin: 0 0 365px 0;
    }
    .profile__form{
        
        width:260px;
    }

    .common-link{
        font-size: 12px;
        }
}
  