.searchForm {
    margin: 60px 0  41px 0;
    padding: 0 ;
    width: 100%;
  }
  
  
  .searchForm__form {
    margin: 0 70px 0 70px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    background-color: #F9F9F9;
    border-radius: 40px; 
  }
  
  
  .searchForm__input {
    margin: 0;
    padding: 0;
    color: #F9F9F9;
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 17px;
    height: 46px;
    border: none;
    width: 90%;
    background: transparent;
    box-sizing: border-box;
    outline: none;
    
  } 

  
  .searchForm__button-sbt {
    margin: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-image: url(../../images/find.svg);
    background-position: center center;
    background-repeat: no-repeat;
    width: 80px;
    box-sizing: content-box;
  }
  
  
  .searchForm__button-sbt:hover {
      opacity: .5;
  }
  
  .searchForm__input::placeholder{
    color:#A0A0A0;
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 17px;
  }

  @media screen and (max-width: 768px) {
    .searchForm {
      margin: 80px 0  41px 0;
    }

    .searchForm__form {
      margin: 0 30px 0 30px;
    }
}

@media screen and (max-width: 320px) {
  .searchForm {
    margin: 80px 0  41px 0;
  }

  .searchForm__form {
    margin: 0 14px 0 14px;
  }

  .searchForm__input {
    width: 70%;
    
  } 

  .searchForm__input::placeholder{
    font-size: 11px;
  }

}