.sidebar {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
}

.sidenav {
    width: 520px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidenav__links {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    margin-top: 159px;
    align-items: center;
    margin-bottom: 119%;
}

.sidebar__button {
    margin: 0 0 90px 0;
}

.sidebar__link {
    text-decoration: none;
    margin: 0;
    opacity: 1.0;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: black;
cursor: pointer;
}

.sidebar__button-close {
    background-image: url(../../images/Group.svg);
    border: none;
    width: 22px;
    height: 22px;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    align-self: flex-end;
    position: absolute;
    top: 3%;
    right: 5%;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .sidenav {
        width: 100%;
    }

    .sidenav__links {
        margin-top: 144px;
        margin-bottom: 137%;
    }

    .sidebar__button {
        margin: 0 0 46px 0;
    }
}

.sidebar__link:hover{
    text-decoration: underline;
}