.techs {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.techs__header {
  margin: 85px 340px 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: black;
}

.techs__description {
  margin: 0px 0 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  color: black;
  text-align: center;
  max-width: 460px;
  align-self: center;
}

.techs__table {
  max-width: 690px;
  grid-column-gap: 11px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(49px, 1fr));
  justify-items: center;
  list-style: none;
  padding: 0;
  margin: 0 0 100px 0;
}

.techs__table-item {
  width: 90px;
  height: 60px;
  border-radius: 10px;
  background: #E8E8E8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.techs__table-item-text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.56px; 
  color: #000000;
}



@media screen and (max-width: 1100px) {
  .techs__table {
    margin: 0 0 100px;
    grid-template-columns: repeat(auto-fit, minmax(85px, 4fr));
    grid-row-gap: 10px;
  }
}

.techs__table-item-text {
  font-size: 12px;
}

@media screen and (max-width: 920px) {
  .techs__header {
    margin: 81px auto 20px;
  }

  .techs__description {
    font-size: 12px;
    line-height: 18px;
    margin: 0 21% 85px;
  }

  .techs__table_text {
    font-size: 12px;
    line-height: 15px;
  }

  .techs__table-item {
    width: 84px;
    height: 57px;
  }

  .techs__table {
    grid-column-gap: 10px;
    margin: 0 0 90px 0;
  }
}


@media screen and (max-width: 750px) {
  .techs__description {
    font-size: 11px;
    line-height: 16px;
    margin: 0 6% 52px;
  }

}

@media screen and (max-width: 662px) {
  .techs__header {
    margin: 60px auto 20px;
    font-size: 30px;
    line-height: 36px;
  }

  .techs__table {
    max-width: 200px;
    margin: 0 0 70px 0;
  }
}